<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tele2 Assignment - Altaf</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <h2> Tele2 Assignment - Altaf Samnani</h2>
    <h4>  Php Script to Import Tele2 CSV to MYSQL database</h4>
    
    <?php
    if( $this->success )
    { ?>
        <div class="alert alert-success" role="alert"><?php echo $this->success;?></div>
    <?php
    }

    if( $this->error )
    { ?>
        <div class="alert alert-danger" role="alert"><?php echo $this->error;?></div>
    <?php
    }

    ?>
    <form enctype="multipart/form-data" class="form-horizontal"action="importer.php" method="post">
        <div class="form-group">
            <label for="Host" class="control-label col-xs-2">Mysql Host</label>
            <div class="col-xs-3">
            <input type="text" class="form-control" name="host" id="host" placeholder="">
            </div>

            <label for="dbase" class="control-label col-xs-2">Mysql Database</label>
            <div class="col-xs-3">
            <input type="text" class="form-control" name="dbase" id="dbase" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="control-label col-xs-2">Mysql Username</label>
            <div class="col-xs-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="">
            </div>
        
            <label for="password" class="control-label col-xs-2">Mysql Password</label>
            <div class="col-xs-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="">
            </div>
        </div>
        
        <div class="form-group hide">
            <label for="table" class="control-label col-xs-2">Mysql Table</label>
            <div class="col-xs-3">
            <input type="name" class="form-control" name="table" id="table">
            </div>
        </div>
        <div class="form-group">    
            <label for="file" class="control-label col-xs-2">Select CSV to Import</label>
            <div class="col-xs-3">
            <input name="file" type="file" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="login" class="control-label col-xs-2"></label>
            <div class="col-xs-3">
            <button type="submit" name="submit" class="btn btn-primary">Upload CSV</button>
            </div>
        </div>
    </form>
</body>
</html>
